### Eclipse ###
.metadata
.gradle
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
*.class

# Sonar #
org.sonarlint.eclipse.core.prefs

### Maven ###
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.polyglot.build.properties
.m2

### XTEXT ###
*.xtendbin
*.java._trace


### Releng ###
.buildTemp/

### Windows ###
# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk
