<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/mbarbero/fr.obeo.releng.targetplatform -->
<target name="January-baseline" sequenceNumber="1490828498">
  <locations>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.january" version="0.0.0"/>
      <repository id="january-2.0" location="http://download.eclipse.org/january/releases/2.0.0/repository/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.slf4j.api" version="1.7.2.v20121108-1250"/>
      <unit id="org.apache.commons.lang3" version="3.1.0.v201403281430"/>
      <unit id="org.apache.commons.lang" version="2.6.0.v201404270220"/>
      <unit id="org.apache.commons.math3" version="3.5.0.v20160301-1110"/>
      <repository id="eclipse-orbit-oxygen-m5" location="http://download.eclipse.org/tools/orbit/downloads/drops/S20170120205402/repository"/>
    </location>
  </locations>
</target>
