<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/mbarbero/fr.obeo.releng.targetplatform -->
<target name="January" sequenceNumber="1489178694">
  <locations>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.slf4j.api" version="1.7.2.v20121108-1250"/>
      <unit id="org.apache.commons.math3" version="3.5.0.v20160301-1110"/>
      <unit id="org.junit" version="4.12.0.v201504281640"/>
      <unit id="org.mockito" version="1.9.5.v201605172210"/>
      <unit id="org.hamcrest" version="1.1.0.v20090501071000"/>
      <unit id="javax.measure.unit-api" version="1.0.0.v20170818-1538"/>
      <repository id="eclipse-orbit-oxygen-sr1" location="http://download.eclipse.org/tools/orbit/downloads/drops/R20170818183741/repository"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.equinox.launcher" version="0.0.0"/>
      <unit id="org.eclipse.core.runtime.feature.feature.group" version="0.0.0"/>
      <repository location="http://download.eclipse.org/eclipse/updates/4.6/R-4.6.2-201611241400/"/>
    </location>
  </locations>
</target>
