<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="jaxbClassProvider" name="JAXB Class Provider" schema="schema/jaxbClassProvider.exsd"/>
   <extension
         id="iceJAXBClassProvider"
         name="ICE JAXB Class Provider"
         point="org.eclipse.ice.datastructures.jaxbClassProvider">
      <implementation
            class="org.eclipse.ice.datastructures.jaxbclassprovider.ICEJAXBClassProvider">
      </implementation>
   </extension>

</plugin>
