<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated geometry -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.eclipse.january.geometry.presentation.GeometryModelWizardID"
            name="%_UI_GeometryModelWizard_label"
            class="org.eclipse.january.geometry.presentation.GeometryModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/GeometryModelFile.gif">
         <description>%_UI_GeometryModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated geometry -->
      <editor
            id="org.eclipse.january.geometry.presentation.GeometryEditorID"
            name="%_UI_GeometryEditor_label"
            icon="icons/full/obj16/GeometryModelFile.gif"
            extensions="geometry"
            class="org.eclipse.january.geometry.presentation.GeometryEditor"
            contributorClass="org.eclipse.january.geometry.presentation.GeometryActionBarContributor">
      </editor>
   </extension>
</plugin>
