<plugin>
          <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ice.client.rcp.application"
            description="The Eclipse Integrated Computational Environment"
            name="ICE">
         <property
               name="appName"
               value="ICE">
         </property>
		<property
    		name="applicationXMI"
		    value="org.eclipse.platform/LegacyIDE.e4xmi">
		</property>
		<property
    		name="cssTheme"
    		value="org.eclipse.e4.ui.css.theme.e4_default">
		</property>
      </product>
  </extension>
  	<!-- Editors -->
      <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.eavp.viz.visit.VisitEditor"
            default="false"
            id="org.eclipse.eavp.viz.visit.VisitEditor"
            name="VisIt Editor">
      </editor>
      <editor
            class="org.eclipse.eavp.viz.service.csv.CSVPlotEditor"
            default="false"
            id="org.eclipse.eavp.viz.service.csv.CSVPlotEditor"
            name="CSV Plot Editor">
      </editor>
   </extension>
      <!-- Plot and file viewers-->
      <extension
            point="org.eclipse.ui.views">
         <view
               allowMultiple="false"
               class="org.eclipse.eavp.viz.visit.VisitPlotViewer"
               fastViewWidthRatio="0.23f"
               id="org.eclipse.eavp.viz.visit.VisitPlotViewer"
               name="VisIt Plot Viewer"
               restorable="true">
         </view>
         <view
               allowMultiple="false"
               class="org.eclipse.eavp.viz.VizFileViewer"
               fastViewWidthRatio="0.23f"
               id="org.eclipse.eavp.viz.VizFileViewer"
               name="Visualization File Viewer"
               restorable="true">
         </view>
         <!-- CSV Data Table View -->
         <view
               allowMultiple="false"
               class="org.eclipse.eavp.viz.csv.viewer.CSVDataTableViewer"
               fastViewWidthRatio="0.77f"
               id="org.eclipse.eavp.viz.plotviewer.CSVDataTableViewer"
               name="CSV Data View"
               restorable="true">
         </view>
      </extension>
      <!-- Perspective definition -->
      <extension
            point="org.eclipse.ui.perspectives">
         <perspective
               class="org.eclipse.eavp.viz.VisualizationPerspective"
               fixed="true"
               id="org.eclipse.eavp.viz.VisualizationPerspective"
               name="Visualization">
         </perspective>
      </extension>
      <!-- Perspective line up and view definitions -->
    <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.eavp.viz.VisualizationPerspective">
         <view
         	   closeable="false"
               id="org.eclipse.eavp.viz.VizFileViewer"
               ratio="0.23f"
               relationship="left"
               relative="org.eclipse.ui.views"
               visible="true">
         </view>
         <view
               closeable="false"
               id="org.eclipse.eavp.viz.visit.VisitPlotViewer"
               ratio="0.23f"
               relationship="bottom"
               relative="org.eclipse.eavp.viz.VizFileViewer"
               visible="true">
         </view>
         <view
               closeable="true"
               id="org.eclipse.eavp.viz.plotviewer.CSVDataTableViewer"
               ratio="0.75f"
               relationship="bottom"
               relative="org.eclipse.ui.console.ConsoleView"
               visible="false">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="org.eclipse.eavp.viz.toolbar"
               label="Visualization Toolbar">
            <command
                  commandId="org.eclipse.eavp.viz.LaunchVisitCommand"
                  id="Launch VisIt Command"
                  label="Launch VisIt"
                  style="push">
                  <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeWorkbenchWindow.activePerspective">
                     <equals
                           value="org.eclipse.eavp.viz.VisualizationPerspective">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.eclipse.eavp.viz.visit.LaunchVisitHandler"
            id="org.eclipse.eavp.viz.LaunchVisitCommand"
            name="Launch VisIt">
      </command>
   </extension>
</plugin>
