<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="fakeJAXBClassProvider"
         name="Fake JAXB Class Provider"
         point="org.eclipse.january.form.jaxbClassProvider">
      <implementation
            class="org.eclipse.january.form.test.FakeJAXBClassProvider">
      </implementation>
   </extension>
</plugin>
